<!DOCTYPE html>
<html>
<head>
  <title>About Page</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  <h1>Welcome to <i class="fa-solid fa-book"></i><b>Bookers!</b></h1>
  <p>CopyRight Infratop.inc</p>
  <!-- Add more content as needed -->
</body>
</html>