<!DOCTYPE html>
<html>
<head>
  <title>Top Page</title>
</head>
<body>
     <% flash.each do |key, message| %>
          <div class="flash <%= key %>">
            <%= message %>
          </div>
        <% end %>
  <h1>welcome to <b>Bookers !!</b></h1>
  <h4>In Bookers,</h4>
  <p>you can share and exchange your opinions, impressions, and emotions</p>
  about various books!
  <i class="fa-solid fa-book"></i>
  <a href="<%= user_session_path %>">
    <button class="btn btn-info">Log in</button>
  </a>
  <a href="<%= user_registration_path %>">
    <button class="btn btn-success">Sign up</button>
  </a>
  CopyRight Infratop.inc
</body>
</html>
